.mainDiv{
    top: 0;
    background: #fff;
    display: table-cell;
    text-align: center;

}

.prodImg{
    width: 20vh;
    height: 20vh;
}

.summaryDiv{
    background: #fff;
    display: table-cell;
}

.summaryUl{
    float: left;
    margin-left: 10%;
    font-size: 2em;
}
