.previewTitle {
  font-size: 1.5em;
}

.tag {
  color: #A0A0A0;
  text-decoration: none;
  display: inline-block;
  padding: .33333rem .5rem;
  line-height: 1;
  border-radius: 2px;
  border: 1px solid #A0A0A0;
  margin-right: .5em;
}

.prodImg{
  width: 20vh;
  height: 20vh;
  margin-left: 4vh;
}

.preview{
  display: block;
  float: left;
  padding-top: 5vh;
  margin-left: 15vh;
  text-align: center;
  background: #fff;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 61.8vh;
  max-height: 400px;
  background: #e1e1e1;
  font-size: 4em;

}

.productDiv{

  height: auto;
  width: auto;
  display: table-cell;
}